*~
*.*~
*.o
*.d
*.so
*.gz
*.out
*.txt
*.swp
*.pdf
*.rst
*.mk
*.Rcheck
*.history
*.Rhistory
*.DS_Store
.autotools
.project
.cproject
.prefs
.xml
.launch
.idea
.Rhistory
.externalToolBuilders
Test
Default
junk
*.RData
*.Rdat
*.rdat
*.dat
*.rda
*.Rda
