#loading
useDynLib(ribModel)

#imports
importFrom(methods, new)
importFrom(Rcpp, evalCpp)


#exports
exportPattern("^[[:alpha:]]+") #<- if commented out, only functions explicitly exported will we exposed 




#export(
# Ploting
## Parameter object

## Model object

## Genome object
#)
