# Due to git's structure, empty directories are not allowed.
# Thus, this .gitignore's primary purpose is to cause this directory to be indexed in the repo
# to allow output files to be produced (without keeping the output files in the directory).
# This file will also list the output files that are expected to be produced (and ignore them).
#
# Note that there is some redundancy in what is ignored compared to the overall package as
# a result.

# testMCMCROC files
testMCMCROCLogPhi.txt
testMCMCROCLogWithoutPhi.txt

# testRFPModel files
RFPAlphaValues.csv
RFPConfidenceIntervalsForAlphaAndLambdaPrime.pdf
RFPLambdaPrimeValues.csv
RFPPsiValues.csv
RFP_CSP_Values_Mixture1.pdf
RFP_Genome_allUnique_startCSP_startPhi_adaptSphi_true.pdf
testRFPModelLog.txt
